@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-6">

        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5>Never let me down again</h5>
                    <h6>Depeche Mode</h6>
                </li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
        </div>


    </div>
    <div class="col-6">.col-6</div>
</div>